
body{
    padding-top: 50px;
    background-color: #F7F7F7;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.bodycontact{
  background-color: #006062;
}

.container{
    min-height: 100%;
    max-width: 100%;
    width: 100%;
}

.box a {
  overflow: hidden;
  display: block;
}

.nav{
    margin-right: 5%;
}

.navHome{
    padding-left: 5%;
    padding-right: 5%;
}


.intro{
    margin: 5% 5% 100px 5%;
    min-height: 50%;
    overflow: hidden;
}

.carousel-control.left, .carousel-control.right{
    background: none;
}

.item {
    display: block;
    max-width: 100%;
}

.navbar{
    background-color: #7FC2BC;
}

.navbar-brand{
    font-size: 25px;
}

.nav.navbar-right li a{
    color: white;
}

.nav.navbar-right li.active a,
.nav.navbar-right ul.dropdown-menu{
    background-color: white;  /*colore active navbar*/
    color: #7FC2BC;
    border-radius: 10px;
}

.nav.navbar-right li a:hover{
    color: darkslategray;
}

.nav.navbar-right li ul li a{
    background-color: white;  /*colore active navbar*/
    color: #7FC2BC;
    border-radius: 10px;
}

#map{
    height: 400px;
    width: 100%;
}

.allLocMap{
    margin-top: 20%;
    min-height: 150px;
}

.responsive {          /*per adattare le immagini dei servizi*/
    max-width: 100%;
    height: auto;
}

.logo{
    border-radius: 50%;  /*immagini cerchio homepage*/
    height:200px;
    width: 200px;
}

.contact{
  margin-bottom: 150px;
  height:inherit;
  padding-top: : 0px;
}

.contact, h5 a{
    background-color: #006062;
    color: white;
}

h5 a:hover{
    color: coral;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background:#7FC2BC !important;/*#FFF !important; */
    color: white;                 /*colore pulsante navbar-toggle*/
}


.dropbtn {
    background-color: #7FC2BC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.allServByLocBtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color: white;
}


a {
    color: #006062;
}

.hidden {
    display:none;
}

hr{
    border-width: thin;
    border-color: #006062;
    border-style: solid;
    margin-bottom: 5%;
}
.external{
    margin: 0% 5%;
}
.topic{
    padding-bottom: 40px;
}
footer {
  position: absolute;
    padding-top: 10px;
    background-color: #7FC2BC;
    max-width: 100%!important;
    width: 100%;
    padding: 15px 0;
    margin-top: 0px;
    margin-left: 0;
    padding-right: 5%;
}
.footerTxt{
    color: white;
    font-size: 16px;
}
.footerBottom{
  bottom: 0;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block!important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        overflow: hidden!important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in{
      display:block !important;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        position: absolute;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dropdown-menu{
        position: relative;
        top: auto;
        width: 100%!important;
        max-width: 100%!important;
    }
    .navbar-collapse {
        max-height: none;
    }
    .navbar-fixed-top {
        position: relative;
        top: auto;
        width: 100%!important;
        max-width: 100%!important;
        display: inline-block;
    }
    body {
        padding-top: 0;
        overflow-x: hidden!important;
    }
}